<%= form_with model: @post_form,  url: url, method: method, id: 'new_post', local: true do |f| %>

  <%# エラー発生時のメッセージ表示 %>
    <div class='error_messages'>
      <%= render 'shared/error_messages', model: f.object %>
    </div>
  <%# エラー発生時のメッセージ表示 %>

  <div class='field'>
    <div class='field_label'>
      <%= f.label :image, '写真' %>
    </div>
    <div id='previews'></div>
    <%= f.file_field :image, id:'form_image' %>
  </div>

  <div class='field'>
    <div class='field_label'>
      <%= f.label :content, 'テキスト' %>
    </div>
    <div class='field_input'>
      <%= f.text_area :content, class: :form__text, id:'form_text' %>
    </div>
  </div>
  
  <div class='field'>
    <div class='field_label'>
      <%= f.label :tag_name, 'タグ' %>
    </div>
    <div class='field_input'>
      <%= f.text_field :tag_name, class: :form__text, id:'post_form_tag_name' %>
      <div id="search-result"></div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>